.input-wrapper input[data-v-434bc30d] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    border-width: 1px;
    box-sizing: border-box;
    display: block;
    height: 2.5rem;
    margin: 0;
    width: 100%;
    --tw-border-opacity: 1;
    border-color: #dadada;
    border-color: rgb(218 218 218/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: #fff;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-text-opacity: 1;
    color: #434343;
    color: rgb(67 67 67/var(--tw-text-opacity));
    transition-duration: .15s;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.input-wrapper input[data-v-434bc30d]::-moz-placeholder {
    --tw-text-opacity: 1;
    color: #232323;
    color: rgb(35 35 35/var(--tw-text-opacity))
}

.input-wrapper input[data-v-434bc30d]::placeholder {
    --tw-text-opacity: 1;
    color: #232323;
    color: rgb(35 35 35/var(--tw-text-opacity))
}

.input-wrapper input[data-v-434bc30d]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color),var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width)) var(--tw-ring-color),0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000)
}

[data-v-434bc30d]:is(.dark .input-wrapper input) {
    --tw-border-opacity: 1;
    border-color: #434343;
    border-color: rgb(67 67 67/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: #232323;
    background-color: rgb(35 35 35/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

[data-v-434bc30d]:is(.dark .input-wrapper input)::-moz-placeholder {
    --tw-text-opacity: 1;
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

[data-v-434bc30d]:is(.dark .input-wrapper input)::placeholder {
    --tw-text-opacity: 1;
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.input-wrapper input~label[data-v-434bc30d] {
    top: 50%;
    --tw-translate-y: -50%;
    font-size: 16px;
    transform: translate(var(--tw-translate-x),-50%) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.input-wrapper input[data-v-434bc30d]:focus {
    border-color: var(--color-identity)
}

.input-wrapper input:focus~label[data-v-434bc30d] {
    top: .25rem;
    --tw-translate-y: -1rem;
    color: var(--color-identity);
    font-size: 12px;
    transform: translate(var(--tw-translate-x),-1rem) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.input-wrapper.clearable input[data-v-434bc30d] {
    padding-right: 2rem
}

.input-wrapper.small input[data-v-434bc30d] {
    font-size: 12px;
    height: 2rem
}

.input-wrapper.small label[data-v-434bc30d] {
    font-size: 12px
}

.input-wrapper:focus-within svg[data-v-434bc30d] {
    fill: var(--color-identity)
}

[data-v-434bc30d]:is(.dark .input-wrapper:focus-within svg) {
    fill: var(--color-identity)
}

.input-wrapper svg[data-v-434bc30d] {
    height: 1.5rem;
    margin-top: -.75rem;
    position: absolute;
    top: 50%;
    width: 1.5rem;
    fill: #434343;
    transition-duration: .15s;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

[data-v-434bc30d]:is(.dark .input-wrapper svg) {
    fill: #fff
}

.input-wrapper label[data-v-434bc30d] {
    left: .75rem;
    pointer-events: none;
    position: absolute;
    top: .25rem;
    transform-origin: 0;
    z-index: 10;
    --tw-translate-y: -1rem;
    font-size: 12px;
    padding-left: .25rem;
    padding-right: .25rem;
    transform: translate(var(--tw-translate-x),-1rem) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-text-opacity: 1;
    color: #434343;
    color: rgb(67 67 67/var(--tw-text-opacity));
    transition-duration: .3s
}

[data-v-434bc30d]:is(.dark .input-wrapper label) {
    --tw-text-opacity: 1;
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.input-wrapper label[data-v-434bc30d]:after {
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
    --tw-translate-y: -50%;
    content: " ";
    transform: translate(var(--tw-translate-x),-50%) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.input-wrapper p[data-v-434bc30d] {
    font-size: 12px;
    padding-left: 1rem
}

.input-wrapper.active input~label[data-v-434bc30d],.input-wrapper.customPlaceholder input~label[data-v-434bc30d] {
    top: .25rem;
    --tw-translate-y: -1rem;
    font-size: 12px;
    transform: translate(var(--tw-translate-x),-1rem) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.input-wrapper.customPlaceholder input[data-v-434bc30d]::-moz-placeholder {
    --tw-text-opacity: 1;
    color: #232323;
    color: rgb(35 35 35/var(--tw-text-opacity))
}

.input-wrapper.customPlaceholder input[data-v-434bc30d]::placeholder {
    --tw-text-opacity: 1;
    color: #232323;
    color: rgb(35 35 35/var(--tw-text-opacity))
}

[data-v-434bc30d]:is(.dark .input-wrapper.customPlaceholder input::-moz-placeholder) {
    --tw-text-opacity: 1;
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

[data-v-434bc30d]:is(.dark .input-wrapper.customPlaceholder input::placeholder) {
    --tw-text-opacity: 1;
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.input-wrapper.prefixed input[data-v-434bc30d] {
    padding-left: 3.5rem;
    padding-right: 1rem
}

.input-wrapper.prefixed input~label[data-v-434bc30d] {
    left: 3rem
}

.input-wrapper.prefixed span[data-v-434bc30d] {
    position: absolute;
    top: 50%;
    width: 3.5rem;
    --tw-translate-y: -50%;
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
    transform: translate(var(--tw-translate-x),-50%) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-text-opacity: 1;
    color: #232323;
    color: rgb(35 35 35/var(--tw-text-opacity))
}

[data-v-434bc30d]:is(.dark .input-wrapper.prefixed span) {
    --tw-text-opacity: 1;
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.input-wrapper.prefixed svg[data-v-434bc30d] {
    display: none
}

.input-wrapper.fillPrefix input[data-v-434bc30d] {
    padding-left: 4rem;
    padding-right: 1rem
}

.input-wrapper.fillPrefix span[data-v-434bc30d] {
    align-items: center;
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
    display: flex;
    height: 38px;
    justify-content: center;
    left: 1px;
    --tw-bg-opacity: 1;
    background-color: #eaeaea;
    background-color: rgb(234 234 234/var(--tw-bg-opacity))
}

[data-v-434bc30d]:is(.dark .input-wrapper.fillPrefix span) {
    --tw-bg-opacity: 1;
    background-color: #434343;
    background-color: rgb(67 67 67/var(--tw-bg-opacity))
}

.input-wrapper.icon.icon-left input[data-v-434bc30d] {
    padding-left: 2.5rem;
    padding-right: 1rem
}

.input-wrapper.icon.icon-left label[data-v-434bc30d] {
    left: 2.25rem
}

.input-wrapper.icon.icon-left svg[data-v-434bc30d] {
    left: .5rem
}

.input-wrapper.icon.icon-right input[data-v-434bc30d] {
    padding-left: 1rem;
    padding-right: 2.5rem
}

.input-wrapper.icon.icon-right svg[data-v-434bc30d] {
    right: .5rem
}

.input-wrapper.error input[data-v-434bc30d] {
    --tw-border-opacity: 1;
    border-color: #f73536;
    border-color: rgb(247 53 54/var(--tw-border-opacity))
}

.input-wrapper.error input[data-v-434bc30d],.input-wrapper.error input:focus~label[data-v-434bc30d],.input-wrapper.error label[data-v-434bc30d] {
    --tw-text-opacity: 1;
    color: #f73536;
    color: rgb(247 53 54/var(--tw-text-opacity))
}

.input-wrapper.error svg[data-v-434bc30d] {
    fill: #f73536
}

.input-wrapper.error p[data-v-434bc30d] {
    --tw-text-opacity: 1;
    color: #f73536;
    color: rgb(247 53 54/var(--tw-text-opacity))
}

.input-wrapper.password-input svg[data-v-434bc30d] {
    cursor: pointer
}

.input-wrapper:not(.password-input) svg[data-v-434bc30d] {
    pointer-events: none
}

.helpertext-enter-active[data-v-434bc30d],.helpertext-leave-active[data-v-434bc30d] {
    transition: max-height .5s ease-in-out
}

.helpertext-enter-to[data-v-434bc30d],.helpertext-leave-from[data-v-434bc30d] {
    max-height: 30px;
    overflow: hidden
}

.helpertext-enter-from[data-v-434bc30d],.helpertext-leave-to[data-v-434bc30d] {
    max-height: 0;
    overflow: hidden
}

.tooltip-enter-from[data-v-4c2674db],.tooltip-leave-to[data-v-4c2674db] {
    opacity: 0
}

.tooltip-enter-to[data-v-4c2674db],.tooltip-leave-from[data-v-4c2674db] {
    opacity: 1
}

video[data-v-ef930f7a]::-webkit-media-controls-fullscreen-button,video[data-v-ef930f7a]::-webkit-media-controls-time-remaining-display {
    display: none!important
}

video[data-v-ef930f7a]::-webkit-media-controls-current-time-display {
    display: none!important
}

.fade-enter-active[data-v-25ddd43c],.fade-leave-active[data-v-25ddd43c] {
    transition: opacity .15s ease
}

.fade-enter-from[data-v-25ddd43c],.fade-leave-to[data-v-25ddd43c] {
    opacity: 0
}

.fade-enter-active[data-v-a18fdb6f],.fade-leave-active[data-v-a18fdb6f] {
    transition: opacity .15s ease
}

.fade-enter-from[data-v-a18fdb6f],.fade-leave-to[data-v-a18fdb6f] {
    opacity: 0
}

.fade-enter-active[data-v-38901444],.fade-leave-active[data-v-38901444] {
    transition: opacity .15s ease
}

.fade-enter-from[data-v-38901444],.fade-leave-to[data-v-38901444] {
    opacity: 0
}
