.hrm-a-custom {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    grid-area: logo;
    margin-right: auto;
    order: -1;
    padding: 0
}

@media (min-width:950px) {
    .hrm-a-custom {
        flex: 1 0 25%;
        justify-content: flex-start
    }
}

.hrm-6-custom {
    cursor: pointer;
    width: 80px
}

@media (min-width:950px) {
    .hrm-6-custom {
        flex: none;
        margin-left: 20px;
        width: 100px
    }
}

.rct-988999-custom {
    background-image: var(--wc-bg-color-grad);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: var(--zi-highest);
}

.hrm-3-custom {
    align-self: center;
    background-color: transparent;
    border: none;
    color: var(--color-whiteFF);
    cursor: pointer;
    display: flex;
    font-size: var(--text11);
    font-weight: 700;
    padding: 0;
    white-space: nowrap
}

.hrm-3-custom,
.hrm-8b-custom {
    align-items: center
}

.hrm-8b-custom {
    background-color: var(--color-white7p);
    border: 1px solid var(--color-white10p);
    border-radius: 14px;
    display: grid;
    gap: 0 5px;
    grid-auto-flow: column;
    height: 28px;
    padding: 0 10px;
    place-content: center;
    transition: all .25s
}

.allow-hover .hrm-3-custom:hover .hrm-8b-custom {
    border: 1px solid var(--color-green28FFBB);
    color: var(--color-green28FFBB)
}

.hrm-24-custom .hrm-8b-custom {
    border: 1px solid var(--color-yellowFFDF1B);
    color: var(--color-yellowFFDF1B)
}

.allow-hover .hrm-24-custom .hrm-8b-custom.hrm-3-custom:hover {
    border: 1px solid var(--color-whiteFF);
    color: var(--color-whiteFF)
}

.hrm-24-custom {
    color: var(--color-yellowFFDF1B);
    white-space: nowrap
}

@media (min-width:950px) {
    .hrm-24-custom {
        white-space: normal
    }
}

.hrm-3a-custom,
.hrm-50-custom {
    font-size: var(--text10)
}

.hrm-50-custom {
    margin-left: 5px;
    margin-right: 5px
}

.hrm-fb-custom {
    border: 1px solid transparent;
    position: relative
}

.hrm-fb-custom:before {
    animation: hrm-c5-custom 3s linear infinite;
    background: conic-gradient(from var(--angle) at center, var(--color-yellowFFDF1B), var(--color-green28FFBB), var(--color-yellowFFDF1B)) border-box;
    border-radius: 18px;
    bottom: 0;
    content: "";
    left: 0;
    -webkit-mask: linear-gradient(var(--color-whiteFF) 0 0) padding-box, linear-gradient(var(--color-whiteFF) 0 0);
    mask: linear-gradient(var(--color-whiteFF) 0 0) padding-box, linear-gradient(var(--color-whiteFF) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    position: absolute;
    right: 0;
    top: 0
}

.allow-hover .hrm-fb-custom:hover,
.hrm-fb-custom:before {
    border: 1px solid transparent
}

.hrm-8d-custom {
    display: grid;
    position: relative
}

@property --angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>"
}

@keyframes hrm-c5-custom {
    to {
        --angle: 360deg
    }
}

.hrm-29-custom {
    background-color: var(--color-yellowFFDF1B);
    border-radius: 15px;
    color: var(--color-grey1F);
    font-size: var(--text11);
    line-height: 15px;
    min-height: 17px;
    min-width: 17px;
    padding: 1px 2px;
    text-align: center
}

.hrm-bc-custom {
    height: 100%
}

.hrm-3c-custom,
.hrm-bc-custom {
    align-items: center;
    display: grid
}

.hrm-3c-custom {
    --ba-alert-bg: rgba(40, 255, 187, .15);
    background-color: var(--color-white7p);
    border: 1px solid var(--color-white10p);
    border-radius: 13px;
    color: var(--color-whiteFF);
    cursor: pointer;
    font-size: 11px;
    font-weight: 700;
    gap: 0 5px;
    grid-auto-flow: column;
    height: 28px;
    line-height: 13px;
    padding: 0 7px 0 10px;
    place-content: center;
    text-align: center;
    transition: all .25s;
    white-space: nowrap;
    word-break: break-all
}

.allow-hover .hrm-3c-custom:hover,
.allow-hover .hrm-bc-custom:hover .hrm-3c-custom,
.hrm-3c-custom.hrm-51-custom,
.hrm-3c-custom.hrm-b0-custom {
    border: 1px solid var(--color-green28FFBB)
}

.hrm-3c-custom.hrm-51-custom {
    background-color: var(--ba-alert-bg)
}

@media (min-width:950px) {
    .hrm-3c-custom {
        font-weight: 400
    }
}

.hrm-e3-custom {
    align-self: center;
    background-color: var(--color-white80p);
    display: block;
    height: 14px;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Ccircle cx='7' cy='7' r='6.5' stroke='%23d6dcda' fill='transparent'/%3E%3Cpath fill='%23d6dcda' d='M6.563 4.375h1v5.25h-1z'/%3E%3Cpath fill='%23d6dcda' d='M9.625 6.563v1h-5.25v-1z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Ccircle cx='7' cy='7' r='6.5' stroke='%23d6dcda' fill='transparent'/%3E%3Cpath fill='%23d6dcda' d='M6.563 4.375h1v5.25h-1z'/%3E%3Cpath fill='%23d6dcda' d='M9.625 6.563v1h-5.25v-1z'/%3E%3C/svg%3E");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    transition: all .25s;
    width: 14px
}

.allow-hover .hrm-3c-custom:hover .hrm-e3-custom,
.allow-hover .hrm-bc-custom:hover .hrm-e3-custom,
.hrm-51-custom .hrm-e3-custom,
.hrm-b0-custom .hrm-e3-custom {
    background-color: var(--color-green28FFBB)
}

.hrm-19-custom {
    animation: hrm-b9-custom 1s ease-in-out infinite alternate
}

@keyframes hrm-b9-custom {
    0% {
        opacity: 1
    }

    to {
        opacity: .3
    }
}

.hrm-980-custom {
    background-color: var(--color-redD05858);
    border-radius: 999px;
    display: flex;
    height: 7px;
    justify-self: center;
    position: relative;
    right: -12px;
    top: 0;
    width: 7px
}

.hrm-fb0-custom {
    right: -15px
}

@media (min-width:950px) {
    .hrm-fb0-custom {
        right: -12px
    }
}

.hrm-a8-custom {
    background-color: var(--color-redD05858)
}

.hrm-7f-custom {
    background-color: var(--color-orangeFFB240)
}

.hrm-2b-custom {
    align-items: center;
    display: grid;
    height: 100%
}

.hrm-f8-custom {
    border: none;
    cursor: pointer;
    height: 28px;
    width: 28px
}

.hrm-98-custom {
    fill: var(--color-greyFF);
    fill-opacity: .07;
    stroke: var(--color-greyFF);
    stroke-opacity: .1;
    transition: all .25s
}

.allow-hover .hrm-2b-custom:hover .hrm-98-custom,
.allow-hover :hover>.hrm-98-custom,
.hrm-7-custom .hrm-98-custom {
    fill: color(display-p3 .157 1 .733);
    stroke-opacity: 1;
    stroke: color(display-p3 .157 1 .733)
}

.hrm-8d8-custom {
    fill: var(--color-greyFF);
    fill-opacity: .8;
    transition: all .25s
}

.allow-hover .hrm-2b-custom:hover .hrm-8d8-custom,
.allow-hover :hover>.hrm-8d8-custom,
.hrm-7-custom .hrm-8d8-custom {
    fill: color(display-p3 .157 1 .733);
    fill-opacity: 1
}

.hrm-fa-custom {
    fill: var(--color-greyFF);
    fill-opacity: .8;
    transition: all .25s
}

.allow-hover .hrm-2b-custom:hover .hrm-fa-custom,
.allow-hover :hover>.hrm-fa-custom,
.hrm-7-custom .hrm-fa-custom {
    fill: color(display-p3 .157 1 .733);
    fill-opacity: 1
}

.hrm-60-custom {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 0 10px;
    height: 100%;
    justify-content: flex-start;
    position: relative
}

@media (min-width:950px) {
    .hrm-60-custom {
        flex-direction: row;
        padding-right: 20px
    }
}

.hrm-ce-custom {
    justify-content: center
}

@media (min-width:950px) {
    .hrm-ce-custom {
        justify-content: flex-start
    }
}

.hrm-28-custom {
    position: inherit
}

.hrm-1-custom {
    align-items: center;
    display: flex;
    gap: 0 10px;
    height: 100%;
    margin: 0 10px
}

.hrm-a1-custom {
    background: none;
    border: none;
    color: var(--color-greyFF);
    cursor: pointer;
    font-size: var(--text11);
    font-weight: 700;
    padding: 0;
    text-align: right
}

.hrm-9d-custom {
    display: grid
}

.hrm-9d-custom,
.hrm-ac-custom {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%
}

.hrm-ac-custom {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 45px
}

.hrm-89-custom {
    --icon-search: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='18'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23CCC' d='m10.213 11.85.788-.616 4.31 5.516-.788.616z'/%3E%3Ccircle cx='6.862' cy='6.6' r='6.1' stroke='%23CCC'/%3E%3C/g%3E%3C/svg%3E");
    background-color: var(--color-grey8);
    height: 100%;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 18px 18px;
    mask-size: 18px 18px;
    width: 45px;
    z-index: var(--zi-low)
}

.allow-hover .hrm-89-custom:hover,
.hrm-89-custom {
    -webkit-mask-image: var(--icon-search);
    mask-image: var(--icon-search)
}

.allow-hover .hrm-89-custom:hover {
    background-color: var(--color-green3)
}

.hrm-4-custom {
    align-items: stretch;
    display: flex;
    gap: 0 10px
}

@media (min-width:950px) {
    .hrm-4-custom {
        flex: 1 0 25%;
        transition-duration: .2s;
        transition-property: opacity;
        white-space: nowrap
    }
}

.hrm-8-custom {
    justify-content: end;
    text-align: center;
    width: 100%
}

@media (min-width:950px) {
    .hrm-8-custom {
        height: 100%;
        justify-content: flex-end;
        padding-right: 20px
    }
}

.hrm-e-custom {
    height: 100%;
    justify-content: flex-end;
    width: 100%;
    z-index: var(--zi-above-ground)
}

.hrm-9-custom {
    display: flex;
    height: 45px;
    padding: 0 20px;
    width: 100%;
    z-index: var(--zi-medium)
}

@media (min-width:950px) {
    .hrm-9-custom {
        padding: 0
    }
}

.hrm-b3-custom {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%
}

.hrm-b1-custom {
    display: none
}

@media (min-width:950px) {
    .hrm-b1-custom {
        display: flex;
        flex: 0 0 160px
    }
}

.hrm-99-custom {
    align-items: center;
    display: flex;
    font-size: var(--text12);
    font-weight: 700;
    gap: 0 10px;
    height: 45px;
    justify-content: space-around;
    padding: 0 10px;
    width: 100%
}

@media (min-width:500px) {
    .hrm-99-custom {
        gap: 0 55px;
        justify-content: center
    }
}

@media (min-width:950px) {
    .hrm-99-custom {
        height: 70px
    }
}

.hrm-6a-custom,
.hrm-ae-custom {
    align-items: center;
    background-color: transparent;
    border: transparent;
    color: var(--color-whiteFF);
    cursor: pointer;
    display: flex;
    font-size: 13px;
    font-weight: 700;
    height: 100%;
    justify-content: center;
    padding: 0;
    position: relative
}

.allow-hover .hrm-6a-custom:hover,
.hrm-f5-custom {
    color: var(--color-green28FFBB)
}

.hrm-f5-custom {
    box-shadow: inset 0 -2px 0 var(--color-green28FFBB);
    font-weight: 700;
    transition: color .2s, box-shadow .2s, font-weight .2s
}

.hrm-fd-custom {
    height: 100%;
    position: relative;
    text-align: center;
    text-decoration: none
}

.hrm-68-custom,
.hrm-fd-custom {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center
}

.hrm-68-custom {
    background-color: var(--color-green26FFBE);
    border-radius: 999px;
    color: var(--color-grey33);
    font-size: var(--text11);
    height: 14px;
    line-height: 14px;
    margin-left: 2px;
    min-width: 14px;
    padding: 2px;
    position: absolute;
    right: -16px;
    top: 6px
}

@media (min-width:950px) {
    .hrm-68-custom {
        top: 18px
    }
}

.hrm-ff-custom {
    animation: hrm-b18-custom .8s 1 forwards;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2)
}

@keyframes hrm-b18-custom {
    50% {
        text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 12px #fff
    }

    to {
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .2)
    }
}

.hrm-f-custom {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: env(safe-area-inset-top);
    position: -webkit-sticky;
    position: sticky;
    z-index: var(--zi-low)
}

@media (min-width:950px) {
    .hrm-f-custom {
        flex-direction: row;
        height: 70px;
        justify-content: space-between;
        padding: 0 calc(50vw - 725px);
        position: relative
    }
}

.hrm-2-custom {
    background-image: none
}

.hrm-c-custom {
    align-items: center;
    display: flex;
    gap: 0 10px;
    height: 45px;
    padding: 0 10px;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    z-index: var(--zi-low)
}

.hrm-c8-custom {
    color: var(--color-whiteFF);
    font-size: 22px;
    font-weight: 700;
    white-space: nowrap
}

.hrm-b-custom {
    background-color: var(--color-grey00);
    bottom: 0;
    filter: alpha(opacity=65);
    left: 0;
    opacity: .6;
    position: fixed;
    right: 0;
    top: var(--headerHeight, 0);
    z-index: var(--zi-below-ground)
}

.hrm-5-custom {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    position: relative;
    width: 100%;
    z-index: 100
}