body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

*{
  box-sizing: border-box;
}

/* For Firefox */
html {
  scrollbar-width: none !important;
}

/* For Edge & IE (old versions) */
body {
  -ms-overflow-style: none !important;
}

.display-none {
  display: none;
}

.opacity-0 {
  opacity: 0;
}

.base {
  padding-top: var(--browser-head-height);
  padding-bottom: var(--browser-foot-height);
  /* Variable declared in browser.css */
}

a{
  text-decoration: none;
}

/* UPDATE TICKETS */

.ut-home {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background-color: #dff;
  z-index: +100;
}

.ut-section {
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  margin: 5px 0;
  position: relative;
  border-radius: 5px;
}

.ut-section textarea {
  width: 100%;
  height: 100%;
  border: 2px white solid;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  padding-bottom: 50px;
  border: 1px #0ff solid;
  resize: none;
  font-size: 15px;
}

.ut-section textarea:focus {
  outline: 2px #08f8 solid;
}

.ut-buttons {
  position: absolute;
  bottom: 0.5px;
  left: 1%;
  height: 49px;
  background: #fff;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
}

.ut-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  background: white;
  font-weight: 600;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px #0ff8 solid;
  background-color: #eff;
  color: black;
  text-shadow: 0 0 2px white;
  box-shadow: 0 0 3px 0 #0007;
  transition: 1s all linear;
}

.close-ut {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  background-color: #fffa;
  border-radius: 20px;
  box-shadow: 0 0 3px 0 #0006;
}

@media only screen and (min-width: 435px) {
  .ut-home {
    flex-direction: row;
    padding: 10px 5px;
  }

  .ut-section {
    margin: 0 5px;
  }
}

@keyframes glow {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }

  50% {
    opacity: 0.5;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

.glow {
  animation: 1s ease-in 0s infinite normal glow;
}

/* Layout */

.padding-top-56 {
  padding-top: 56px;
}

.margin-top-56 {
  margin-top: 56px;
}

.top-56 {
  top: 56px !important
}

/* MANAGE TICKETS */

.text-error-600 {
  color: #ff5555;
}

.text-identity-600 {
  color: #00aa55;
}

.bg-error-500 {
  background-color: red !important;
}

.ticket-wrapper {
  border-radius: 5px;
  transition: 0.15s linear opacity;
}

.ticket-wrapper.deleted{
  opacity: 0.5;
}

.manage-ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #303d39, #353535);
  margin-bottom: -2px;
  padding: 15px 0 18px 0;
  color: #fff;
}

.ticket-date {
  font-size: 14px;
  margin: 0 10px;
}

.ticket-buttons {
  display: flex;

}

.ticket-button {
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
}

.update-tickets-button {
  margin: auto;
  width: 60%;
  text-align: center;
  padding: 10px;
  background-color: green;
  color: #fff;
  font-weight: 700;
  margin: 10px auto;
  border-radius: 5px;
}

.update-tickets-button.bg-error-500 {
  margin-bottom: 20px;
}

.withdrawal,
.deposit {
  display: flex;
  padding: 10px 0 10px 10px;
  background: linear-gradient(to right, #303d39, #353535);
  margin-bottom: 10px;
  font-size: 14px;
}

.withdrawal>*,
.deposit>* {
  margin-right: 10px;
  height: 40px;
  padding: 10px;
  width: 40%;
  background-color: #1a1a1a;
  /* border: 1px #777 solid; */
  /* border: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
}

.withdrawal .time,
.deposit .time {
  flex-grow: 1;
}

.withdrawal-button,
.deposit-button {
  background-color: green;
  color: white;
  font-weight: 700;
  flex-shrink: 1;
  border: none;
  /* width: 10%; */
}

/* PAGINATION */

.swiper-pagination {
  text-align: right !important;
  bottom: 0px !important;
}

.swiper-pagination-bullet {
  background: #ccc !important;
  border-radius: 0px !important;
  width: 26px !important;
  height: 4px !important;
  margin: 0px 3px !important;
  opacity: 0.7 !important;
}

.swiper-pagination-bullet-active {
  background-color: #00a826 !important;
}

.loss-color {
  color: red;
}

.win-color {
  color: rgb(0, 128, 0);
}

.black-color {
  color: black;
}

a.hm-HeaderMenuItem {
  text-decoration: none !important;
}

.myb-SettledBetItemInnerView,
.myb-OpenBetItemInnerView {
  overflow: hidden;
  transition: 0.15s all linear;
}

.select-currency {
  opacity: 0;
  position: absolute;
  top: 13px;
  width: 50px;
  left: 12px;
}

/* TRANSACTIONS */

.delete-transaction{
  position: absolute;
  font-weight: bold;
  right: 6px;
  bottom: 5px;
  color: red;
  padding: 10px;
}

.hpc-HomepageCarouselModule_Pod:first-child, .hcr-f .hcr-0:first-child{
  display: none;
}

.hcr-f .hcr-0:nth-child(2){
  margin-left: 10px;
}