body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

/* For Firefox */
html {
  scrollbar-width: none !important;
}

/* For Edge & IE (old versions) */
body {
  -ms-overflow-style: none !important;
}

.display-none {
  display: none;
}

.opacity-0 {
  opacity: 0;
}

.base {
  padding-top: var(--browser-head-height);
  /* padding-bottom: var(--browser-foot-height); */
  padding-bottom: calc(var(--headerHeight) + var(--browser-foot-height));

  /* Variable declared in browser.css */
}

a {
  text-decoration: none;
}

/* UPDATE TICKETS */

.ut-home {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background-color: #dff;
  z-index: +100;

  /* background-color: #000; */
}

.dark .ut-home {
  background-color: #000;
}

.ut-section {
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  margin: 5px 0;
  position: relative;
  border-radius: 5px;
  position: relative;
}

.ut-overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: +2;
  padding: 5px;
}

.ut-overlay-content {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  overflow-y: scroll;
  padding: 10px;
  padding-top: 20px;
  box-shadow: 0 0 5px 0 #555;
}

.dark .ut-overlay-content {
  background-color: #111;
}

.dark .ut-overlay-content svg {
  stroke: #fff;
}

.ut-overlay-close {
  float: right;
  font-size: 22px;
  padding: 5px;
  font-weight: 900;
  position: relative;
  bottom: 5px;
}

.ut-overlay-title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.ut-overlay ol {
  margin: 0px;
  padding-left: 20px;
  list-style: decimal;
}

.ut-overlay ul {
  margin: 0px;
  padding-left: 20px;
  list-style: unset;
}

.ut-overlay ul ul,
.ut-overlay ol ul {
  list-style: circle;
}

.ut-overlay li {
  margin-bottom: 10px;
}

.ut-overlay hr {
  margin: 25px 0;
  border-color: #aaa;
}

.ut-panel {
  position: absolute;
  right: 0px;
  bottom: 50px;
  text-align: center;
}

.ut-panel-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px #888 solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding-left: 2px;
  transform: rotate(90deg);
  transition: 0.3s ease-in-out all;
}

.ut-panel.collapsed .ut-panel-toggle {
  transform: rotate(270deg);

}

.ut-panel-toggle svg {
  width: 30px;
  height: 30px;
}

.ut-panel-info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px #888 solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-bottom: 8px;
  padding-bottom: 1px;
  font-weight: bold;
  /* transform: rotate(180deg);  */
}

.ut-panel-content {
  /* max-width: 70px; */
  max-height: 200px;
  overflow: hidden;
  transition: 0.3s ease-in-out all;
}

.ut-panel.collapsed .ut-panel-content {
  /* max-width: 0; */
  max-height: 0;
}

.ut-switch {
  text-align: center;
  color: #000;
  margin: 0px 10px 10px 10px;

}

.dark .ut-switch {
  color: #fff;
}

.ut-switch-title {
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 5px;
}

.ut-switch input {
  display: none;
}

.ut-switch-track {
  display: block;
  width: 50px;
  height: 25px;
  border: 1.5px #000 solid;
  border-radius: 15px;
  position: relative;
  box-sizing: content-box;
  transition: 0.1s linear all;
}

.ut-switch-track::after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 3.5px;
  left: 3.5px;
  background-color: #000;
  border-radius: 10px;
  transition: 0.1s linear all;
}

.ut-switch input:checked+.ut-switch-track {
  background-color: #0a0;
  border-color: #0a0;
}

.ut-switch input:checked+.ut-switch-track::after {
  background-color: #fff;
  left: 28px;
}

.ut-section.result {
  display: flex;
  overflow: hidden;
}

.ut-line-numbers {
  position: absolute;
  padding: 12px 6px 55px 6px;
  /* background-color: #0001; */
  opacity: 0.5;
  font-weight: 700;
  font-family: monospace;
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  height: 100%;
  overflow: hidden;
}

.ut-section textarea {
  width: 100%;
  height: 100%;
  border: 2px white solid;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  padding-bottom: 50px;
  border: 1.4px #0ff solid;
  resize: none;
  font-size: 16px;
  line-height: 22px;
}

.ut-section.result textarea {
  padding-left: 30px;
  /* font-family: monospace; */
}

.ut-section textarea:focus {
  border: 1.6px #0ac solid;
  outline: none;
}

.dark .ut-section textarea {
  border: 1.4px #077 solid;
  background-color: #000;
}

.dark .ut-section textarea:focus {
  border: 1.6px #0ff solid;
  outline: none;
}



.ut-buttons {
  position: absolute;
  bottom: 1.5px;
  left: 2px;
  height: 49px;
  background: #fff;
  width: calc(100% - 4px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 0 5px 5px;
  gap: 10px;
  padding: 0 6px;
  border-top: 2px #8881 solid
}

.dark .ut-buttons {
  background-color: #000;
}

.ut-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  background: white;
  font-weight: 600;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px #0ff8 solid;
  background-color: #eff;
  color: black;
  text-shadow: 0 0 2px white;
  box-shadow: 0 0 3px 0 #0007;
  transition: 1s all linear;
  flex: 1 1 auto;
  cursor: pointer;
}

.dark .ut-button {
  background-color: #000;
  color: #fff;
}

.close-ut {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  background-color: #fffa;
  border-radius: 20px;
  box-shadow: 0 0 3px 0 #0006;
  z-index: +1;
  cursor: pointer;
}

.ai-fill-up-button {
  position: absolute;
  bottom: 70px;
  right: 26px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.dark .close-ut {
  background-color: #000;
  box-shadow: 0 0 3px 0 #fff6;
}

.ut-paste {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px #888 solid;
  padding: 5px 10px;
  border-radius: 10px;
}

.ut-odds {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1.5px #0ff solid;
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: bold;
  background-color: #fff;
}

.ut-issues {
  position: absolute;
  top: 50px;
  right: 10px;
  border: 1.5px rgb(165, 19, 19) solid;
  border-radius: 5px;
  max-width: 140px;
  padding: 2px 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
  /* display: flex;  */
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: red;
  box-shadow: 0 0 10px 0 #f007;
  overflow: hidden;
}

.ut-issue {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
}

.dark .ut-odds {
  background-color: #000;
  border: 1.5px #077 solid;
}

@media only screen and (min-width: 435px) {
  .ut-home {
    flex-direction: row;
    padding: 10px 5px;
  }

  .ut-section {
    margin: 0 5px;
  }
}

@keyframes glow {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }

  50% {
    opacity: 0.5;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

.glow {
  animation: 1s ease-in 0s infinite normal glow;
}

/* Layout */

.padding-top-56 {
  padding-top: 56px;
}

.margin-top-56 {
  margin-top: 56px;
}

.top-56 {
  top: 56px !important
}

/* MANAGE TICKETS */

.text-error-600 {
  color: #ff5555;
}

.text-identity-600 {
  color: #00aa55;
}

.bg-error-500 {
  background-color: red !important;
}

.ticket-wrapper {
  border-radius: 5px;
  transition: 0.15s linear opacity;
}

.ticket-wrapper.deleted {
  opacity: 0.5;
}

.manage-ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #303d39, #353535);
  margin-bottom: -2px;
  padding: 15px 0 18px 0;
  color: #fff;
}

.ticket-date {
  font-size: 14px;
  margin: 0 10px;
}

.ticket-buttons {
  display: flex;

}

.ticket-button {
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
}

.update-tickets-button {
  margin: auto;
  width: 60%;
  text-align: center;
  padding: 10px;
  background-color: green;
  color: #fff;
  font-weight: 700;
  margin: 10px auto;
  border-radius: 5px;
}

.update-tickets-button.bg-error-500 {
  margin-bottom: 20px;
}

.withdrawal,
.deposit {
  display: flex;
  padding: 10px 0 10px 10px;
  background: linear-gradient(to right, #303d39, #353535);
  margin-bottom: 10px;
  font-size: 14px;
}

.withdrawal>*,
.deposit>* {
  margin-right: 10px;
  height: 40px;
  padding: 10px;
  width: 40%;
  background-color: #1a1a1a;
  /* border: 1px #777 solid; */
  /* border: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
}

.withdrawal .time,
.deposit .time {
  flex-grow: 1;
}

.withdrawal-button,
.deposit-button {
  background-color: green;
  color: white;
  font-weight: 700;
  flex-shrink: 1;
  border: none;
  /* width: 10%; */
}

/* PAGINATION */

.swiper-pagination {
  text-align: right !important;
  bottom: 0px !important;
}

.swiper-pagination-bullet {
  background: #ccc !important;
  border-radius: 0px !important;
  width: 26px !important;
  height: 4px !important;
  margin: 0px 3px !important;
  opacity: 0.7 !important;
}

.swiper-pagination-bullet-active {
  background-color: #00a826 !important;
}

.loss-color {
  color: red;
}

.win-color {
  color: rgb(0, 128, 0);
}

.black-color {
  color: black;
}

a.hm-HeaderMenuItem {
  text-decoration: none !important;
}

.myb-SettledBetItemInnerView,
.myb-OpenBetItemInnerView {
  overflow: hidden;
  transition: 0.15s all linear;
}

.select-currency {
  opacity: 0;
  position: absolute;
  top: 13px;
  width: 50px;
  left: 12px;
}

/* TRANSACTIONS */

.delete-transaction {
  position: absolute;
  font-weight: bold;
  right: 6px;
  bottom: 5px;
  color: red;
  padding: 10px;
}

.hpc-HomepageCarouselModule_Pod:first-child,
.hcr-f .hcr-0:first-child {
  display: none;
}

.hcr-f .hcr-0:nth-child(2) {
  margin-left: 10px;
}

.rct-988999-custom {
  top: var(--browser-head-height) !important;
}

.hcr-8:first-child {
  display: none;
}

.hcr-8:nth-child(2) {
  margin-left: 10px;
}